<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="secondary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (submit)="onSubmit()" class="forml">
    
    <ion-item>

      <ion-icon slot="start" name="person-circle-outline" color="primary"></ion-icon>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" required formControlName="username"></ion-input>
   
    </ion-item>
    
    <ion-item>

      <ion-label position="floating">Password</ion-label>
      <ion-icon slot="start" name="lock-closed-outline" color="primary"></ion-icon>
      <ion-input type="password" required formControlName="password"></ion-input>
   
    </ion-item>
    
    <ion-button type="submit" class="ion-margin-top" expand="block" [disabled]="form.invalid">Login</ion-button>
  
  </form>

</ion-content>