
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title > PROFILO </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-infinite-scroll>
  <!--immagine dell'utente loggato-->
  <div class="avatar">
    <ion-avatar class="ion-align-self-end">
      <ion-img src="../assets/images/user.png"></ion-img>
    </ion-avatar>
  </div>

  <div align="center" class="testo">

<br>
    <ion-text> <h7>{{name}} &nbsp; &nbsp; {{lastname}}</h7> </ion-text>
   <br><br>
    <ion-button expand="block">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;Cambia Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
    <ion-button expand="block" (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      &nbsp;&nbsp;&nbsp;Logout &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>


    </div>
   <br>





   <h6>&nbsp;&nbsp;Party creati da me:</h6>
      <p *ngIf=" partys == ''" > <h8><b>Ancora nessun party </b><br> In questa sezione potrai visulizzare l'elenco dei party creati da te </h8></p>
    <ion-list *ngIf=" partys != ''"  >

      <ion-item  *ngFor="let party of partys"  >
        <ion-thumbnail slot="start">
          <img src="../../assets/images/{{party.image}}.png">
        </ion-thumbnail>
        <ion-label>
          <h2> {{party.name}}</h2>
          <p>{{party.genre}}-{{party.mood}}</p>
          <p>{{party.description}} </p>


        </ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>


    </ion-list>



  </ion-infinite-scroll>
</ion-content>
