ion-content{
  --background: url("../../assets/bg.jpg") no-repeat;
}

b {
  font-weight: bold;
}

h1{
  font-family: 'Lato Black';
}
h7{
  text-align: center;
  font-size:140% ;
  //justify-content: center;
  text-transform: uppercase;

}
.avatar{
  display: flex;
  justify-content: center;
  margin: 10%;
  margin-bottom: 0;
}

.avatar ion-avatar{
  width: 100px;
  height: 100px;
}
