ion-content{
  --background: url("../../assets/bg.jpg") no-repeat;
}

b {
  font-weight: 500;
}

h1{
  font-family: 'Lato Black';
}
.avatar{
  display: flex;
  justify-content: center;
  margin: 10%;
  margin-bottom: 0;
}

.avatar ion-avatar{
  width: 100px;
  height: 100px;
}
