<ion-header>
  <ion-toolbar>
    <ion-title>Playlist Party</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="delete()" defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf=" urlSafe != '' ">
     <iframe [src]="urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
  <ion-list>
    <ion-item *ngFor="let video of videos | async">
        <img width="40px" [src]="video.snippet.thumbnails.default.url"> &nbsp;&nbsp;&nbsp;
        <ion-label>
              <p>{{ video.snippet.title }}</p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

