<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title > PROFILO </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" color="secondary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <! -- immagine dell'utente loggato>
  <div class="avatar">
    <ion-avatar class="ion-align-self-end"><img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-avatar>
  </div>
</ion-content>

