ion-title{
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 10px;
}
.addParty{
    display: flex;
    align-items: center;
}

.addParty p{
    margin: 5%;
}

.logo{
    float: left;
    margin-right: 40px;
    margin-left: 20px;
}

