ion-content{
  --background: url("../../assets/bg.jpg") no-repeat;
}

h1{
  font-family: 'Lato Black';
}

ion-button{
  font-family: 'Lato Regular' !important;
  text-transform: uppercase;
}

.logo{
  display: flex;
  justify-content: center;
  margin: 15%;
  margin-bottom: 0;
}

.logo ion-img{
  max-width: 500px;
}

.did{
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
}

.but{
  position: relative;
  top: 10%
}
.but ion-button{
  margin: 10%;
}
